body {
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
   }

#login_form {
      position: absolute;
      display: flex;
      column: 2;
      gap: 16px;
      border: 4px solid black;
      flex-direction: column;
      justify-content: center;
      height: 200px;
      width: 400px;
      border-radius: 16px;
      color: #fff;
      text-shadow: 0 1px 2px #000;
      background-color: #333;
      box-shadow: 0 0 10px #000;
      font-family: sans-serif;
  }


.field-set-1, .field-set-2{
        border: 3px solid white;
        border-radius: 6px;
        padding: 0;
        margin: 0px 15px 0px 15px;
  }

.inpt-1, .inpt-2{
       border: 3px solid black;
       padding-bottom: 10px;
       width: 360px;
       border: none;
       color: #fff;
       height: 100%;
       font-family: sans-serif;
       background-color: #333;

  }

.inpt-1:focus,
   .inpt-2:focus {
    outline: none;
   }

.header {
     margin-left: 160px;
     margin-bottom: 0;
     margin-top: 0;
  }

.but-cont {
      color: #fff;
      width: 100px;
      background-color: #333;
      font-family: sans-serif;
      box-shadow: 0 0 8px 3px rgba(255, 255, 255, 0.4);
      }